.header {
  display: flex;
  column-gap: 40px;
  padding-bottom: fluid(40, 20);
  justify-content: space-between;

  &__cart {
    display: flex;
    align-items: center;
    column-gap: fluid(10, 5);
    justify-content: center;
    padding-block: fluid(20, 10);
    background-color: var(--color-dark);
    padding-inline: fluid(20, 10);
    color: var(--color-white);
    width: fluid(105, 80);
    border-radius: 0 0 0 5px;
    cursor: pointer;
    height: 100%;

    &-count {
      font-size: fluid(22, 20);
      font-family: var(--font-oswald), sans-serif;
    }

    &-button {
      display: flex;
    }
  }
}