.header {
  display: flex;
  column-gap: 40px;
  padding-bottom: 40px;
  justify-content: flex-end;
  &__cart {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    padding-block: 20px;
    background-color: var(--color-dark);
    padding-inline: 20px;
    color: var(--color-white);
    width: 105px;
    height: 80px;
    border-radius: 0 0 0 5px;
    cursor: pointer;
    &-count {
      font-size: 22px;
      font-family: var(--font-oswald), sans-serif;
    }
  }
}