.share-cart-button {
  font-size: clamp(1rem, .922131rem + .327869vw, 1.25rem);
  font-family: var(--font-asap), sans-serif;
  border-radius: 5px;
  padding-block: 10px;
  border: 1px solid var(--color-dark);
  color: var(--color-dark);
  @include hover {
    background-color: #ffb300;
  }
  &:disabled {
    pointer-events: none;
    background-color: #ffb300;
    opacity: 0.5;
  }
}