.product-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(15, 10);
  justify-content: space-between;
  height: 100%;

  &__image-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__button-skeleton {
    height: 48px;
    width: 100%;
    background-color: #f3f4f6;
    border-radius: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-items: flex-start;
    align-items: flex-start;
  }

  &__oval {
    display: flex;
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;

    svg {
      width: fluid(81, 61);
      height: fluid(80, 60);
    }
  }

  &__image {
    border-radius: var(--border-radius);
    user-select: none;
    width: 100%;
    aspect-ratio: 0.72;
    object-fit: cover;
    /*    @include laptop-above {
          max-height: 535px;
        }*/
  }

  &__title {
    position: relative;
    display: flex;
    font-size: fluid(20, 18);
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Максимальное количество строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      content: '';
      background: rgba(255, 255, 255, 0);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      height: 100%;
      width: 25px;
    }
  }

  &__title,
  &__price {
    font-weight: 400;
    font-family: var(--font-oswald), sans-serif;
    letter-spacing: 1px;
    color: var(--color-dark);
  }

  &__button {
    padding-block: fluid(12, 10);
    padding-inline: fluid(24, 14);
    font-size: fluid(18, 16);
    border-radius: var(--border-radius);
    width: 140px;
    white-space: nowrap;

    &:disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &__price {
    font-weight: 500;
    font-size: fluid(20, 18);
    white-space: nowrap;
  }

  &__link {
    position: relative;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    transition: opacity var(--transition-duration);
    @include tablet-above {
      height: 100%;
      @include hover {
        opacity: 1;
        .product-card__icon {
          transition: opacity var(--transition-duration);
          animation: zoomAnimation 2s both infinite;
          stroke: var(--color-white);
          width: 20%;
          height: auto;
          stroke-width: 1px;
        }
      }
    }
  }

  &__icon {
    opacity: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /*    height: 100%;*/
    justify-content: space-between;
    max-height: 400px;
  }

  &__action {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes zoomAnimation {
  0% {
    scale: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
    scale: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    scale: 2;
  }
}

.oval {
  position: absolute;
}

.product-card__button {
  padding-block: fluid(12, 10);
  padding-inline: fluid(24, 14);
  font-size: fluid(18, 16);
  border-radius: var(--border-radius);
  width: 140px;
  white-space: nowrap;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}