.product-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(15, 10);
  justify-content: space-between;
  height: 100%;
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-items: flex-start;
    align-items: flex-start;
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    user-select: none;
  }

  &__title {
    display: flex;
    font-size: fluid(20, 18);

  }

  &__title,
  &__price {
    font-weight: 400;
    font-family: var(--font-oswald), sans-serif;
    letter-spacing: 1px;
    color: var(--color-dark);
  }

  &__button {
    padding-block: fluid(12, 10);
    padding-inline: fluid(24, 16);
    font-size: fluid(18, 16);
    border-radius: var(--border-radius);
  }

  &__price {
    font-weight: 500;
    font-size: fluid(20, 18);
  }

  &__link {
    position: relative;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--transition-duration);
    @include tablet-above {
      @include hover {
        opacity: 1;
        .product-card__icon {
          transition: opacity var(--transition-duration);
          animation: zoomAnimation 2s both infinite;
          stroke: var(--color-white);
          width: 20%;
          height: auto;
          stroke-width: 1px;
        }
      }
    }
  }

  &__icon {
    opacity: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 100%;
    justify-content: space-between;
  }

  &__action {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

@keyframes zoomAnimation {
  0% {
    scale: 0;
    opacity: 0;
  }
  1% {
    opacity: 1;
    scale: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    scale: 2;
  }
}