body {
  @include fluid-text(18, 14);
  display: flex;
  flex-direction: column;
}

a,
button,
label,
input,
textarea,
select {
  transition-duration: var(--transition-duration);
}

svg:not(.skeleton-loader):not(.skeleton-loader *) * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}


html {
  scrollbar-gutter: auto;
}

main {
  display: flex;
  flex: 1 1 0;
}

::selection {
  color: #f4531d;
}