body {
  @include fluid-text(18, 14);
  display: flex;
  flex-direction: column;
}

a,
button,
label,
input,
textarea,
select {
  transition-duration: var(--transition-duration);
}

svg:not(.skeleton-loader):not(.skeleton-loader *) * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}


html {
  scrollbar-gutter: auto;
}

main {
  display: flex;
  flex: 1 1 0;
}

::selection {
  color: #d20348;
}

.custom-toast {
  justify-content: center;
  font-family: var(--font-asap), sans-serif;
  font-size: fluid(20, 18) !important;
  text-align: center;

  &-success {
    min-width: fluid(480, 300);
    /*    box-shadow: 0 0 8px 0 rgba(0, 255, 51, 0.4) !important;*/
  }

  &-error {
    min-width: fluid(540, 300);
    box-shadow: 0 0 8px 0 rgba(255, 0, 0, 0.6) !important;
  }

  &-warning {
    min-width: fluid(540, 300);
    box-shadow: 0 0 8px 0 rgba(255, 123, 0, 0.6) !important;
  }

  &__checkout {
    min-width: auto;
    color: var(--color-dark);
  }
}

.checkout__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: rgba(128, 128, 128, 0.04);
  border: 1px solid rgba(128, 128, 128, 0.35);
}

html {
  scrollbar-color: #ababab66 #f1f1f1;
}

.oval {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;

  svg {
    width: fluid(81, 61);
    height: fluid(80, 60);
  }

  @include tablet {
    width: 50%;
  }
}

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &__inner {
    padding-block: fluid(40, 20);
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
    align-items: center;
  }

  &__image {
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -70px;
    @include mobile {
      margin-left: -50px;
    }
    @include mobile {
      margin-left: -20px;
    }
  }
  *
  &__button {
    padding-block: fluid(10, 5);
    padding-inline: fluid(15, 10);
    font-size: fluid(20, 18);
    border-radius: 5px;
  }
}

body:has(.product-page) {
  @include mobile {
    .header {
      visibility: hidden;
      height: 0;
      padding-bottom: 0;
    }
  }
}