:root {
  --container-width: 1580px;
  --container-padding-x: 20px;

  --color-dark: #2a2a2a;
  --color-light: #dcdcdc;
  --color-white: #ffffff;
  --color-red: #d20348;
  --color-green: #00ff6f;
  --color-light-gray: #80808059;
  --transition-duration: 0.2s;
  --border-radius: 5px;
}