.checkout {
  display: grid;
  grid-template-columns:  70% auto;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    grid-template-columns:  50% 50%;
  }
  @include mobile {
    grid-template-columns: repeat(1,1fr);
  }
}