.checkout__cart {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 10);
  color: var(--color-dark);
  @include tablet-above {
    width: 100%;
    max-width: 500px;
  }
  height: 100%;
  justify-content: space-between;

  &-title {
    font-size: fluid(28, 20);
    font-family: var(--font-asap), sans-serif;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 20px;
    @include tablet-above {
      max-height: 452px;
    }
    @include tablet {
      max-height: 452px;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &-info {

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-family: var(--font-oswald), sans-serif;
    font-weight: 400;
    font-size: fluid(22, 18);
    letter-spacing: 1.2px;

    span {
      display: flex;
      justify-content: space-between;
    }
  }

  &-info,
  &-total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--color-light-gray);
  }

  &-total {
    span {
      display: flex;
      justify-content: space-between;
    }
  }

  &-button-payment {
    margin-top: fluid(15,10);
    width: 100%;
    text-align: center;
    font-size: fluid(22, 18);
    background-color: var(--color-dark);
    font-family: var(--font-asap),sans-serif;
    color: var(--color-white);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid var(--color-dark);
    @include hover {
      background-color: var(--color-green);
      color: var(--color-dark);
    }

    &:disabled {
      pointer-events: none;
      user-select: none;
      opacity: 0.5;
    }
  }
}